<div class="container">
  <header>
    <h1><%= @menu_name %> Menu</h1>
    <ul>
      <li><a href="/items">Add Items</a></li>
      <li><a href="/">Add Menus</a></li>
    </ul>
  </header>

  <h2>Items</h2>

  <div id="items_in_menu">
    <%= erb :_items_in_menu %>
  </div>

  <form id="update_menu_item_list" data-id="<%= @id %>" method="post" action="/menus/<%= @id %>/update">
    <input type="hidden" name="_method" value="put">
    <select name="add_item">
      <option>Menu Items</option>
      <% @items.each do |item| %>
        <option value="<%= item.id %>"><%= item.name %> - $<%= item.price %></option>
      <% end %>
    </select>
    <input type="submit" value="Submit">
  </form>
</div>